<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Privatesale>
      <version>0.1.7</version>
    </Magebuzz_Privatesale>
  </modules>
  <frontend>
    <routers>
      <privatesale>
        <use>standard</use>
        <args>
          <module>Magebuzz_Privatesale</module>
          <frontName>privatesale</frontName>
        </args>
      </privatesale>
    </routers>
    <layout>
      <updates>
        <privatesale>
          <file>privatesale.xml</file>
        </privatesale>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Privatesale>
          <files>
            <default>Magebuzz_Privatesale.csv</default>
          </files>
        </Magebuzz_Privatesale>
      </modules>
    </translate>
    <events>
      <controller_action_predispatch>
        <observers>
          <redirect_to_login_page>
            <class>privatesale/observer</class>
            <method>controllerPredispatchAction</method>
          </redirect_to_login_page>
        </observers>
      </controller_action_predispatch>
      <catalog_category_collection_load_before>
        <observers>
          <magebuzz_catalog_category_load_before>
            <class>privatesale/observer</class>
            <method>catalogCategoryCollectionLoadBefore</method>
          </magebuzz_catalog_category_load_before>
        </observers>
      </catalog_category_collection_load_before>
      <!-- TODO -->
      <catalog_controller_category_init_after>
        <observers>
          <magebuzz_catalog_category_init>
            <class>privatesale/observer</class>
            <method>CatalogControllerInitAfter</method>
          </magebuzz_catalog_category_init>
        </observers>
      </catalog_controller_category_init_after>
      <catalog_controller_product_init_after>
        <observers>
          <magebuzz_catalog_product_init>
            <class>privatesale/observer</class>
            <method>catalogProductControllerInitAfter</method>
          </magebuzz_catalog_product_init>
        </observers>
      </catalog_controller_product_init_after>
      <catalog_product_collection_apply_limitations_after>
        <observers>
          <magebuzz_catalog_product_collection_apply>
            <class>privatesale/observer</class>
            <method>catalogProductCollectionApplyAfter</method>
          </magebuzz_catalog_product_collection_apply>
        </observers>
      </catalog_product_collection_apply_limitations_after>
      <catalog_product_compare_add_product>
        <observers>
          <magebuzz_compare_product>
            <class>privatesale/observer</class>
            <method>catalogProductCompareAddProduct</method>
          </magebuzz_compare_product>
        </observers>
      </catalog_product_compare_add_product>
      <checkout_cart_save_before>
        <observers>
          <magebuzz_checkout_cart_save>
            <class>privatesale/observer</class>
            <method>checkoutCartSaveBefore</method>
          </magebuzz_checkout_cart_save>
        </observers>
      </checkout_cart_save_before>
      <catalog_product_get_final_price>
        <observers>
          <magebuzz_update_frontent_price>
            <class>privatesale/observer</class>
            <method>processFrontFinalPrice</method>
          </magebuzz_update_frontent_price>
        </observers>
      </catalog_product_get_final_price>
      <catalog_product_collection_load_after>
        <observers>
          <magebuzz_privatesale_catalog_product_price>
            <class>privatesale/observer</class>
            <method>prepareCatalogProductPrices</method>
          </magebuzz_privatesale_catalog_product_price>
        </observers>
      </catalog_product_collection_load_after>
    </events>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules><Magebuzz_Privatesale after="Mage_Adminhtml">Magebuzz_Privatesale_Adminhtml</Magebuzz_Privatesale></modules>
        </args>
      </adminhtml>
    </routers>
  </admin>

  <adminhtml>
    <layout>
      <updates>
        <privatesale>
          <file>privatesale.xml</file>
        </privatesale>
      </updates>
    </layout>
    <events>
      <adminhtml_customer_save_after>
        <observers>
          <magebuzz_adminhtml_customer_save_after>
            <class>privatesale/observer</class>
            <method>customerSaveAfterInBackend</method>
          </magebuzz_adminhtml_customer_save_after>
        </observers>
      </adminhtml_customer_save_after>
    </events>
  </adminhtml>
  <global>
    <rewrite>
      <customer_account>
        <from><![CDATA[#^/customer/account/#]]></from>
        <to>/privatesale/account/</to>
      </customer_account>
    </rewrite>
    <events>
      <catalog_product_save_after>
        <observers>
          <magebuzz_privatesale_product_save_after>
            <class>privatesale/observer</class>
            <method>catalogProductSaveAfter</method>
          </magebuzz_privatesale_product_save_after>
        </observers>
      </catalog_product_save_after>
      <catalog_category_save_commit_after>
        <observers>
          <magebuzz_privatesale_category_save_after>
            <class>privatesale/observer</class>
            <method>catalogCategorySaveAfter</method>
          </magebuzz_privatesale_category_save_after>
        </observers>
      </catalog_category_save_commit_after>
      <adminhtml_block_html_before>
        <observers>
          <magebuzz_privatesale_add_form>
            <type>model</type>
            <class>privatesale/observer</class>
            <method>addAttributeToCustomerForm</method>
          </magebuzz_privatesale_add_form>
        </observers>
      </adminhtml_block_html_before>
      <core_block_abstract_prepare_layout_before>
        <observers>
          <magebuzz_core_block_prepare_layout_before>
            <type>model</type>
            <class>privatesale/observer</class>
            <method>coreBlockAbstractPrepareLayoutBefore</method>
          </magebuzz_core_block_prepare_layout_before>
        </observers>
      </core_block_abstract_prepare_layout_before>
      <customer_delete_before>
        <observers>
          <magebuzz_privatesale_customer_delete_before>
            <type>model</type>
            <class>privatesale/observer</class>
            <method>customerDeleteBeforeInBackend</method>
          </magebuzz_privatesale_customer_delete_before>
        </observers>
      </customer_delete_before>
    </events>
    <models>
      <privatesale>
        <class>Magebuzz_Privatesale_Model</class>
        <resourceModel>privatesale_mysql4</resourceModel>
      </privatesale>
      <privatesale_mysql4>
        <class>Magebuzz_Privatesale_Model_Mysql4</class>
        <entities>
          <product>
            <table>privatesale_product</table>
          </product>
          <category>
            <table>privatesale_category</table>
          </category>
          <event>
            <table>privatesale_event</table>
          </event>
          <invite>
            <table>privatesale_invite</table>
          </invite>
          <waiting>
            <table>privatesale_waiting</table>
          </waiting>
          <user>
            <table>privatesale_user</table>
          </user>
          <rule>
            <table>privatesale_event</table>
          </rule>
        </entities>
      </privatesale_mysql4>
      <!--<checkout>-->
        <!--<rewrite>-->
          <!--<type_onepage>Magebuzz_Privatesale_Model_Checkout_Type_Onepage</type_onepage>-->
        <!--</rewrite>-->
      <!--</checkout>-->
    </models>
    <resources>
      <privatesale_setup>
        <setup>
          <module>Magebuzz_Privatesale</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </privatesale_setup>
      <privatesale_write>
        <connection>
          <use>core_write</use>
        </connection>
      </privatesale_write>
      <privatesale_read>
        <connection>
          <use>core_read</use>
        </connection>
      </privatesale_read>
    </resources>
    <blocks>
      <adminhtml>
        <rewrite>
          <catalog_category_tab_attributes>Magebuzz_Privatesale_Block_Adminhtml_Event_Categoryattributes</catalog_category_tab_attributes>
          <catalog_product_edit_tab_attributes>Magebuzz_Privatesale_Block_Adminhtml_Event_Attributes</catalog_product_edit_tab_attributes>
        </rewrite>
      </adminhtml>
      <bundle>
        <rewrite>
          <adminhtml_catalog_product_edit_tab_attributes>Magebuzz_Privatesale_Block_Adminhtml_Event_Bundleattributes</adminhtml_catalog_product_edit_tab_attributes>
        </rewrite>
      </bundle>
      <privatesale>
        <class>Magebuzz_Privatesale_Block</class>
      </privatesale>
    </blocks>
    <helpers>
      <privatesale>
        <class>Magebuzz_Privatesale_Helper</class>
      </privatesale>
    </helpers>
    <template>
      <email>
        <privatesalesession_email_options_invite_email_template translate="label" module="privatesale">
          <label>Privatesale Invitation Email</label>
          <file>privatesale/invite_email_template.html</file>
          <type>html</type>
        </privatesalesession_email_options_invite_email_template>
        <privatesalesession_email_options_send_request_invitation_template translate="label" module="privatesale">
          <label>Send Notification To Admin</label>
          <file>privatesale/send_notification_to_admin.html</file>
          <type>html</type>
        </privatesalesession_email_options_send_request_invitation_template>
        <privatesalesession_email_options_invitation_reject_email_template translate="label" module="privatesale">
          <label>Privatesale Send mail Reject Invitation</label>
          <file>privatesale/invitation_reject_email_template.html</file>
          <type>html</type>
        </privatesalesession_email_options_invitation_reject_email_template>
        <privatesalesession_email_options_send_email_when_have_new_event translate="label" module="privatesale">
          <label>Privatesale Send Mail Notification To Customer</label>
          <file>privatesale/send_mail_notification_to_customer.html</file>
          <type>html</type>
        </privatesalesession_email_options_send_email_when_have_new_event>
        <privatesalesession_email_options_admin_send_invite_code_template translate="label" module="privatesale">
          <label>Customer Invitation From Admin Email Template</label>
          <file>privatesale/customer_invitation_from_admin.html</file>
          <type>html</type>
        </privatesalesession_email_options_admin_send_invite_code_template>
        <privatesalesession_privatesale_options_approval_notification_email_template translate="label"
                                                                                     module="privatesale">
          <label>Customer Approval notification email template</label>
          <file>privatesale/customer_approved_template.html</file>
          <type>html</type>
        </privatesalesession_privatesale_options_approval_notification_email_template>
        <privatesalesession_privatesale_options_rejection_notification_email_template translate="label"
                                                                                      module="privatesale">
          <label>Rejection notification email template</label>
          <file>privatesale/customer_rejected_template.html</file>
          <type>html</type>
        </privatesalesession_privatesale_options_rejection_notification_email_template>
      </email>
    </template>
  </global>
  <default>
    <privatesalesession>
      <privatesale_options>
        <current_upcoming_events>1</current_upcoming_events>
        <number_of_invite>-1</number_of_invite>
        <cms_landing_page>landing</cms_landing_page>
        <approval_notification_email_template>privatesalesession_privatesale_options_approval_notification_email_template</approval_notification_email_template>
        <rejection_notification_email_template>privatesalesession_privatesale_options_rejection_notification_email_template</rejection_notification_email_template>
				<include_jquery>0</include_jquery>
      </privatesale_options>
      <email_options>
        <email_sender>general</email_sender>
        <email_template>privatesalesession_email_options_invite_email_template</email_template>
        <invitation_email_template>privatesalesession_email_options_invitation_email_template</invitation_email_template>
        <allow_send_notification>1</allow_send_notification>
        <invitation_reject_email_template>privatesalesession_email_options_invitation_reject_email_template</invitation_reject_email_template>
        <send_request_invitation_template>privatesalesession_email_options_send_request_invitation_template</send_request_invitation_template>
        <send_email_when_have_new_event>privatesalesession_email_options_send_email_when_have_new_event</send_email_when_have_new_event>
        <admin_send_invite_code_template>privatesalesession_email_options_admin_send_invite_code_template</admin_send_invite_code_template>
      </email_options>
    </privatesalesession>
  </default>
</config>
