<!--@subject Your account was approved for {{var store.getFrontendName()}} @-->

<!--@vars
{
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/create\"":"Customer Account Url"
}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body
  style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div
  style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
  <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
      <td align="center" valign="top" style="padding:20px 0 20px 0">
        <!-- [ header starts here] -->
        <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650"
               style="border:1px solid #E0E0E0;">
          <tr>
            <td valign="top">
              <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{var
                customer_name}},</h1>

              <p style="font-size:12px; line-height:16px; margin:0;">Your account was approved and now you can log in
                our store. Here is your account detail: </p>
            </td>
          </tr>
          <tr>
            <td><p style="font-size:12px; margin:0;">Customer Name : {{var customer_name}} </p></td>
          </tr>
          <tr>
            <td><p style="font-size:12px; margin:0;">Customer Email : {{var email}} </p></td>
          </tr>
          <tr>
            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
              <center><p style="font-size:12px; margin:0;"><b>Thank you </b></p></center>
            </td>
          </tr>
          <tr>
            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
              <center><p style="font-size:12px; margin:0;">{{var store.getFrontendName()}}</p></center>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
</body>