<!--@subject Registration Code for {{var store.getFrontendName()}} @-->
<!--@vars
{
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/create\"":"Customer Account Url"
}
@-->
<p>Dear <b>{{var invited_customer_name}}</b>,</p>
<p>Thank you for your interest in our store. We welcome you become our customer. Please use the following code to
  complete your registration at our store. </p>
<p>Invite Code : <b>{{var invited_customer_sign_up_code}}</b></p>
<p>You can simply <a href="{{var address}}">Click here</a> to register. </p>
<p>Best Regards,</p>
<p>{{var store.getFrontendName()}}</p>
